<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include('basetemplate.ejs') %>
    <title>Zoom clone</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <!-- <h1>Hey we are making some cool stuff with node js</h1> -->
    <div id="video-grid">

    </div>
    <script src="script.js"> </script>

</body>
</html>
